
.card.card-cascade .view {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem
}

.card.card-cascade .view.gradient-card-header {
    padding: 1.6rem 1rem;
    text-align: center
}

.card.card-cascade .view.gradient-card-header .card-header-title {
    font-weight: 500
}

.card.card-cascade .view.gradient-card-header .btn-floating {
    background-color: rgba(255,255,255,.2)
}

.card.card-cascade.wider {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}

.card.card-cascade.wider .view {
    z-index: 2
}

.card.card-cascade.wider .card-body {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    margin-left: 4%;
    margin-right: 4%;
    background: #fff;
    z-index: 1;
    -webkit-border-radius: 0 0 .25rem .25rem;
    border-radius: 0 0 .25rem .25rem
}

.card.card-cascade.wider.reverse .card-body {
    z-index: 3;
    margin-top: -1rem;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}

.card.card-cascade.narrower {
    margin-top: 1.25rem
}

.card.card-cascade.narrower .view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem
}

.card.card-cascade.panel-cascade .view {
    text-align: center;
    color: #fff
}

.card.card-cascade.panel-cascade .list-group .list-group-item {
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    color: #495057
}

.card.card-cascade.panel-cascade .list-group .list-group-item:hover {
    background-color: #eee
}
.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,.6);
    line-height: 32px;
    padding: 0 12px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: #eceff1;
    margin-bottom: 1rem;
    margin-right: 1rem
}
.btn {
    -webkit-border-radius: 10em;
    border-radius: 10em
}