<div class="mt-4">
  <div class="container">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#1bedf4" type="square-jelly-box"></ngx-spinner>
    <div class="row" *ngIf="allCountries">
      <!-- <div class="col" *ngFor="let country of allCountries">
        <div class="card">
          <img class="img-fluid" [src]="country.flag">
          <div class="card-body">
            <h4 class="card-title">{{country.name}}</h4>
            <h5>Capital :{{country.capital}}</h5>
            <div class="card-text">
              <p>Native Name : {{country.nativeName}} </p>
              <p>Timezones: {{country.timezones}} </p>
              <ul class="list-group" *ngFor="let currency of country.currencies">
                <li class="list-item">
                  <a [routerLink]="['/all-countries',country.alpha3Code] " [queryParams]="{currency: currency.code}">currency code: {{currency.code}} </a>

                </li>
                <li> {{currency.name}} </li>
                <li> {{currency.symbol}} </li>
              </ul>
              <hr>
              <p>Languages :
                <span *ngFor="let language of country.languages; let i = last">
                  <a [routerLink]="['/all-countries/', country.alpha3Code]" [queryParams]="{ 'language' : language.iso639_1}">{{language.name}} </a>{{i ? "" : ","}} </span>
              </p>
            </div>
            <a class="btn btn-primary waves-light" [routerLink]="['/country',country.alpha3Code]" mdbWavesEffect>View More</a>
          </div>

        </div>
      </div> -->
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let country of allCountries">
        <div class="mr-2 mb-2">
          <div class="card card-cascade narrower hoverable ">
            <div class="view overlay view-cascade waves-light" mdbWavesEffect>
              <img class="img-fluid w-100" [src]="country.flag" [alt]="country.name" style="height: 7rem;">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body card-body-cascade text-center">
              <h4 class="card-title">
                <strong>{{country.name}}</strong>
              </h4>
              <h6 class="indigo-text">Capital :{{country.capital}}</h6>
              <div class="card-text">
                <p>Native Name : {{country.nativeName}} </p>
                <p>Timezone : {{country.timezones}} </p>
              </div>
              <p>Currencies :</p>
              <ul class="list-group" *ngFor="let currency of country.currencies">
                <li *ngIf="currency.name" class="list-group-item d-flex justify-content-between align-items-center">
                  <a [routerLink]="['/all-countries',country.alpha3Code] " [queryParams]="{currency: currency.code}" class="font-small"> {{currency.name}} ( {{currency.code}} )</a>
                  <span class="badge badge-info badge-pill" *ngIf="currency.symbol">{{currency.symbol}}</span>
                </li>
              </ul>
              <p>Languages :
                <span *ngFor="let language of country.languages; let i = last">
                  <a [routerLink]="['/all-countries/', country.alpha3Code]" [queryParams]="{ 'language' : language.iso639_1}">{{language.name}} </a>{{i ? "" : ","}} </span>
              </p>

            </div>
            <a class="btn btn-secondary btn-sm  waves-light" [routerLink]="['/country',country.alpha3Code]" mdbWavesEffect>View More</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>