<div class="mt-4">
  <div class="container">
    <ng-progress></ng-progress>
    <div class="row" *ngIf="allCountries">
      <div class="col-md-4 mt-3 m-auto">
        <div class="form-inline md-form ml-auto mb-4 mt-3">
          <!-- <label for="search">Country Name :</label> -->
          <input #searchBox (keyup)="search(searchBox.value)" class="form-control mr-sm-2 white-text" type="text" placeholder="Enter more than 3 characters"
            aria-label="Search" id="search">
          <button class="btn btn-primary btn-rounded btn-sm my-0 waves-light" mdbWavesEffect type="submit" (click)="search(searchBox.value)" >Search</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="allCountries">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let country of allCountries">
        <div class="mr-2 mb-2">
          <div class="card card-cascade narrower hoverable ">
            <div class="view overlay view-cascade waves-light" mdbWavesEffect>
              <img class="img-fluid w-100" [src]="country.flag" [alt]="country.name" style="height: 7rem;">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body card-body-cascade text-center">
              <h4 class="card-title">
                <strong>{{country.name}}</strong>
              </h4>
              <h6 class="indigo-text">Capital :{{country.capital}}</h6>
              <div class="card-text">
                <!-- <p>Native Name : {{country.nativeName}} </p> -->
                <p>Timezone : {{country.timezones}} </p>
              </div>
              <p>Currencies :</p>
              <ul class="list-group" *ngFor="let currency of country.currencies">
                <li *ngIf="currency.name" class="list-group-item d-flex justify-content-between align-items-center">
                  <a [routerLink]="['/region',country.alpha3Code] " [queryParams]="{currency: currency.code}" class="font-small"> {{currency.name}} ( {{currency.code}} )</a>
                  <span class="badge badge-info badge-pill" *ngIf="currency.symbol">{{currency.symbol}}</span>
                </li>
              </ul>
              <p *ngIf="country.languages">Languages :
                <span *ngFor="let language of country.languages; let i = last">
                  <a [routerLink]="['/region/', country.alpha3Code]" [queryParams]="{ 'language' : language.iso639_1}">{{language.name}} </a>{{i ? "" : ","}} </span>
              </p>

            </div>
            <a class="btn btn-secondary btn-sm  waves-light" [routerLink]="['/country',country.alpha3Code]" mdbWavesEffect>View More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-danger waves-light" (click)="goBackToPreviousPage()" mdbWavesEffect>Go Back</button>
    </div>
  </div>

</div>