<div class=" container">
  <!--Grid row-->
  <div class="row">

    <div class="col-md-6 m-auto">
      <div class="mt-5">
        <!--Card-->
        <div class="card card-cascade narrower m-3 z-depth-4">

          <!--Card image-->
          <div class="view overlay hm-white-slight waves-light bg-dark" mdbWavesEffect>
            <img src="https://avatars0.githubusercontent.com/u/15796694" class="img-fluid" alt="Vivek avatar">
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">
              <strong>Vivek M</strong>
            </h4>
            <h5>Web developer</h5>

            <p class="card-text">I'm the Front-End Developer looking for the great place to work. I have serious passion for UI effects, animations
              and creating intuitive, dynamic user experiences.I am keen to learn more about web and the technologies required
              to work with it.
            </p>

          </div>


        </div>
      </div>

    </div>

  </div>