<div class=" container">
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 m-auto">

      <!--Card-->
      <div class="card mt-3 hoverable" style="max-width: 26rem;">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://avatars0.githubusercontent.com/u/15796694" class=" img-fluid rounded-circle">
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 class="card-title">Vivek M</h4>
          <hr>
          <!--Quotation-->
          <p>
            <i class="fa fa-quote-left"></i> Stop talking, Start Code</p>
        </div>

      </div>
      <!--/.Card-->

    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>