<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark ">
  <logo>
    <a class="navbar-brand" href="#">Navbar</a>
  </logo>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link waves-light" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>About</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->